img {
  width: 33.3%;
}

body {
  background-color: white;

}

.album {

}



header {
  padding: 2em;
  background: black;
  color: white;
  text-align: center;
  font-size: 2em;
}

ul {
  text-decoration: none;
  list-style-type: none;

}

.sidebar {

  width: 25%;
  float: left;
  position: relative;
  padding-bottom: 28rem;
}

/*header {
  background: white;
}*/
